@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

h1{ text-align: center;
    color: #1d6fb0;
    font-family: 'Pacifico', cursive;
    font-size: 65pt;
    
}
.center-image {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}

 body{background-color: rgba(136, 179, 136, 0.74);}  

.Dankestext{ text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 30pt;}

footer p:first-child {
    font-family: 'Pacifico', cursive;

}